

<div class="page-header">
    <h1><Profile</h1>
    <a href="/guru-edit" class="btn btn-default btn-sm">Edit Profile</a>
</div>
<div class="row-lg-12">
    <div id="guru_show_namecard">
        <div class="col-lg-5 col-sm-offset-3 guru-col-left">

                <img id="" src="<%= guru.picture_url %>"  >
                    
                    
                    
        </div> <!-- END COL -->
        <div class="col-lg-7 col-sm-offset-6 guru-col-right">
                        <div id="my_guru_card">
                              
                                <h2><%= guru.name %> </h2>
                        
                                <h5><%= guru.email %></h5>
                                <p><%= guru.zip %></p>
                            

                        <p>Activities:</p> <% guru.activities.forEach(function(a) { %>
                            <li><a href="/activities/<%= a._id %>"><%= a.type %></a></li>
                            <% }) %>
                            <br>
                            <p>studios:</p> <% guru.studios.forEach(function(s) { %>
                                <li><%= s.name %>, <%= s.location %></li>
                                <% }) %><br>
                            <p>reviews:</p> <%= guru.reviews %>
                            <br>
                         </div> <!--  END CARD -->
        </div><!-- END COL -->

    </div>  <!--  END user_show_namecard -->
</div> <!-- END ROW -->
<div 
class="fb-like"
data-share="true"
data-width="450"
data-show-faces="true">
</div>

<script src="/js/app.js"></script>