<div class="page-header">
  <h1><%= guru.name %></h1>
  <a href="/logout" class="btn btn-default btn-sm">Logout</a>
</div>
  
<form method="POST" action="/guru-edit?_method=PATCH">
  <div class="form-group">
    <label for="exampleInputNamel1">Name</label>
    <input type="name" class="form-control" id="guru-name" name="name" value="<%= guru.name %>" aria-describedby="nameHelp" placeholder="Enter name" />
    <small id="NameHelp" class="form-text text-muted">Our Member</small>
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="guru-email" name="email" value="<%= guru.email %>" aria-describedby="emailHelp" placeholder="Enter email" />
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="guru-password" name="password" placeholder="Password" />
  </div>
  
  <div class="form-group">
    <label for="exampleInputZipl1">Zip Code</label>
    <input type="zipcode" class="form-control" id="guru-zip" name="zip" value="<%= guru.zip %>" aria-describedby="zipcodeHelp" placeholder="Zip Code">
    <small id="ZipCodeHelp" class="form-text text-muted"></small>
  </div>
  
  <div class="form-group">
      <label for="exampleInputZipl1">Activities</label> 
        <% guru.activities.forEach(function(a) { %>
        <li><%= a.type %></li>
        <% }) %><br>
    </div>

  <div class="form-group">
    <label for="exampleInputZipl1">Profile Picture URL:</label>
    <input type="profileURL" class="form-control" id="guru-pictureURL" name="picture_url" value="<%= guru.picture_url %>" aria-describedby="profileURLHelp" placeholder="Profile URL">
    <small id="profileURLHelp" class="form-text text-muted"></small>
  </div>

  <button type="submit" class="btn btn-primary">Update Profile</button>
</form>

<br>
  <!-- <button type="submit" class="btn btn-primary">Delete Profile</button> -->
<br>
<br>
  
<form method="POST" action="/gurus/<%=currentUser._id%>/activities">
 <label class="mr-sm-2" for="inlineFormCustomSelect activity-input">My Activity</label>
  <div class="col-6">
    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect activity" name="activity">
      <option selected>Choose...</option>
        <% activities.forEach((activity) => { %>
          <option value="<%= activity._id %>"><%= activity.type %></option>
        <% }) %>  
    </select>
  </div>
  <div class="col-auto my-1">
    <button type="submit" class="btn btn-primary" id="add-activity">Add</button> 
  </div>
</form>

<form method="POST" action="/gurus/<%=currentUser._id%>/studios">
  <label class="mr-sm-2" for="inlineFormCustomSelect studio-input">My Studio:</label>
  <div class="col-6">
    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect studio" name="studio">
      <option selected>Choose...</option>
        <% studios.forEach((studio) => { %>
          <option value="<%= studio._id %>"><%= studio.name %>, <%= studio.location %></option>
        <% }) %>  
    </select>
  </div>
  <div class="col-auto my-1">
    <button class="btn btn-primary" id="add-studio">Add</button> 
  </div>
</form>

<a href="/guru-profile">Return to Profile</a>

<script src="/js/app.js"></script>