<div class="page-header">
        <h1><Profile</h1>
        <a href="/user-edit" class="btn btn-default btn-sm">Edit Profile</a>
    </div>
    <div class="row-lg-12">
        <div id="guru_show_namecard">
            <div class="col-lg-5 col-sm-offset-3 guru-col-left">
    
                    <img id="" src="<%= user.picture_url %>"  >
                        
                        
                        
            </div> <!-- END COL -->
            <div class="col-lg-7 col-sm-offset-6 guru-col-right">
                            <div id="my_guru_card">
                                  
                                    <h2><%= user.name %> </h2>
                            
                                    <h5><%= user.email %></h5>
                                    <p><%= user.zip %></p>
                                    <br>
                                    <p><%= user.gender %></p>

                                    <p id="my_guru_card_favorites">Favorites:</p> 
                                    <% user.favorites.forEach(function(a) { %>
                                        <% for (b=0; b < activities.length; b++) { %>
                                           <% if (activities[b].type === a){ %>
                                                <li><a href="/activities/<%= activities[b]._id %>"><%= a %></a></li>
                                            <% } %>
                                        <% } %>
                                    <% }) %>
                                <br>
                                <br>
                             </div> <!--  END CARD -->
            </div><!-- END COL -->
    
        </div>  <!--  END user_show_namecard -->
    </div> <!-- END ROW -->

    
