<div class="page-header">
  <h1><%= user.name %></h1>
  <a href="/logout" class="btn btn-default btn-sm">Logout</a>
</div>

<form method="POST" action="/user-edit?_method=PATCH" enctype="application/x-www-form-urlencoded">
  <div class="form-group">
    <label for="exampleInputNamel1">Name</label>
    <input type="name" class="form-control" id="user-name" name="name" value="<%= user.name %>" aria-describedby="nameHelp" placeholder="Enter name">
    <small id="NameHelp" class="form-text text-muted">Our Member</small>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="user-email" name="email" value="<%= user.email %>" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="user-password" name="password" placeholder="Password">
    </div>

    <div class="form-group">
      <label for="exampleInputZipl1">Zip Code</label>
      <input type="zipcode" class="form-control" id="user-zip" name="zip" value="<%= user.zip %>" aria-describedby="zipcodeHelp" placeholder="Zip Code">
      <small id="ZipCodeHelp" class="form-text text-muted"></small>
    </div>

    <div class="form-group">
      
      <% if (user.gender === "Male"){ %>
        <input type="radio" name="gender" value="Male" checked  > Male
      <% } else { %><input type="radio" name="gender" value="Male" > Male
      <% } %>
      <br>
      <% if (user.gender === "Female"){ %>
        <input type="radio" name="gender" value="Female" checked  > Female
      <% } else { %><input type="radio" name="gender" value="Female" > Female
      <% } %>
      <br>
      <% if (user.gender === "Intersex"){ %>
        <input type="radio" name="gender" value="Intersex" checked  > Intersex
      <% } else { %><input type="radio" name="gender" value="Intersex" > Intersex
      <% } %>
      <br>
    </div>

    <div class="form-group">
      <label for="exampleInputZipl1">Profile Picture URL:</label>
      <input type="profileURL" class="form-control" id="user-pictureURL" name="picture_url" value="<%= user.picture_url %>" aria-describedby="profileURLHelp" placeholder="Profile URL">
      <small id="profileURLHelp" class="form-text text-muted"></small>
    </div>
    <!--
    <div class="form-group">
      <label for="exampleInputZipl1">Background Picture URL:</label>
      <input type="backgroundURL" class="form-control" id="user-backgroundURL" name="background_url" value="<%= //user.background_url %>" aria-describedby="backgroundURLHelp" placeholder="Background Picture URL">
      <small id="backgroundURLHelp" class="form-text text-muted"></small>
    </div>
  -->
    <!-- <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>-->

    <button type="submit" class="btn btn-primary">Update Profile</button>
  </form>
  <br>
  <form method="POST" action="/user-favorites?_method=PATCH">
    <label class="mr-sm-2" for="inlineFormCustomSelect activity-input">My Favorites</label>
     <div class="col-6">
       <select class="custom-select mr-sm-2" id="inlineFormCustomSelect activity" name="favorites">
         <option selected>Choose...</option>
           <% activities.forEach((activity) => { %>
             <option value="<%= activity.type %>"><%= activity.type %></option>
           <% }) %>  
       </select>
     </div>
     <div class="col-auto my-1">
       <button type="submit" class="btn btn-primary" id="add-activity">Add</button> 
     </div>
   </form>
   <br>
  <br>
  <form method="POST" action="/user-delete?_method=DELETE" enctype="application/x-www-form-urlencoded">
      <button type="submit" id="deleteProfileBtn" class="btn btn-secondary">Delete Profile</button>
  </form>
  <br>
  <br>

  <a href="/user-profile">Return to Profile</a>
  <br>
  <br>

 <!-- <script src="./js/app-user.js"></script> -->